html {
  scroll-behavior: smooth;
  height: 100%; /* Menetapkan tinggi html */
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}

body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Mengatur tinggi minimum body */
  overflow-x: hidden;
}

.container {
  width: 100%;
  height: 107vh;
  padding-top: 5%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container h1 {
  text-align: center;
  color: #002b5e;
  font-size: 15pt;
  margin-bottom: 2.5%;
  transform: scale(1.5);
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centers the feature-boxes horizontally */
  align-items: center; /* Centers the feature-boxes vertically */
  margin-right: -15px;
  margin-left: -15px;
}

.col-3, .col-4 {
  padding-right: 15px;
  padding-left: 15px;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  flex: 0 0 33.3333%;
  max-width: 33.3333%;
}

.text-center {
  text-align: center;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  background-color: #002b5e;
  padding: 10px 20px;
  width: 100%;
  height: 5%;
  position: fixed;
  z-index: 1000;
}

.navbar-logo {
  height: auto;
  max-height: 30px;
}

.navbar-nav {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
}

.nav-item {
  margin-left: 15px;
}

.nav-link {
  font-family: 'Poppins', sans-serif;
  color: #f9f5d8;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 14px;
}

.nav-link:hover {
  background-color: #008cff;
  color: #ffffff;
  border-radius: 15px;
  transition: 0.5s;
}

/* Features Section */
#features {
  padding: 60px 0;
  background-color: #f9f9f9;
}

.feature-box {
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 30px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  transition: transform 1s, background-color 0.5s ease-in-out;
}

.feature-box i {
  color: #ffdd00;
  margin-bottom: 20px;
}

.feature-box h2 {
  font-size: 2rem;
  color: #002b5e;
  margin-bottom: 10px;
  transition: color 0.5s ease-in-out;
}

.feature-box h3 {
  font-size: 1.5rem;
  color: #002b5e;
  margin-bottom: 10px;
  transition: color 0.5s ease-in-out;
}

.feature-box p {
  font-size: 1rem;
  color: #333;
  margin-bottom: 20px;
  transition: color 0.5s ease-in-out;
}

.feature-box:hover {
  transform: scale(1.05);
  background-color: #002b5e;
}

.feature-box:hover h2,
.feature-box:hover h3,
.feature-box:hover p {
  color: #ffffff;
}

/* Footer Section */
#footer {
  background-color: #002b5e;
  color: #fff;
  padding: 40px 0;
}

.footer_2 {
  display: flex;
}

.footer_2 .col {
  padding-right: 15px;
  padding-left: 15px;
}

.footer_2 .col h4 {
  font-size: 18px;
  margin-bottom: 20px;
  margin-left: 15%;
}

.footer_2 .col p {
  font-size: 14px;
  margin-left: 15%
}